.header {
    width: 30%;
    float: left;
    text-align: center;
}

.headerImage {
    width: 95%;
    border-radius: 10%;
}

.navListText {
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    display: inline-block;
}

.mainPage {
    width: 70%;
    float: right;
    text-align: center;
}

.title {
    font-family: cursive;
    font-size: 40px;;
}

.introduction {
    font-family: cursive;
    font-size: 18px;;
}

.line {
    width: 70%;
    margin: 50px auto 50px auto;
}

.grapes {
    display: inline-block;
    width: 45%;
}

.grapesImage {
    width: 90%;
    border-radius: 50%;
}

.grapesName {
    font-size: 22px;
    font-family: cursive;
}

.bottomText {
    font-size: 18px;
    font-family: cursive;
}

@media screen and (max-width: 960px) {
    .header {
        width: 100%;
    }

    .mainPage {
        width: 100%;
    }

    .grapes {
        width: 90%;
    }
}